[project]
	description = skeleton for puplpy modules project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dendevs
[access "refs/for/refs/*"]
	read = group user/dendevs
	push = group user/dendevs
	label-Code-Review = -2..+2 group user/dendevs
	label-Verified = -1..+1 group user/dendevs
	rebase = group user/dendevs
	removeReviewer = group user/dendevs
	submit = group user/dendevs
[access "refs/heads/*"]
	read = group user/dendevs
	create = group user/dendevs
	push = +force group user/dendevs
	pushMerge = group user/dendevs
[access "refs/tags/*"]
	push = +force group user/dendevs
	pushTag = group user/dendevs
	pushSignedTag = group user/dendevs
